@import "../../assets/styles/typography.scss";

.form {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin: 1rem;
  margin-top: 2rem;

  > .form__search {
    border-radius: 10px;
    padding: 5px;
    width: 8rem;
  }
  > .form__btn {
    border-radius: 1rem;
    background-color: rgb(172, 221, 160);
    color: black;
    cursor: pointer;
    width: 4rem;
    font-size: 15px;
  }
}

@media screen and (min-width: 768px) {
  .form {
    > .form__search {
      width: 15rem;
    }
    > .form__btn {
      padding: 5px;
      width: 8rem;
      font-size: large;
    }
  }
}
